*{
    font-family:'Times New Roman', Times, serif;
}
.navbar {
    background: transparent;
    background: rgba(8, 24, 88, 1);
}
.navbar:hover{
    background: rgb(2, 11, 44);
}
.navbar img{
    width: 40px;
}
.navbar a{
    color: white !important;
    font-size: 17px;
    font-weight: 500;
}
.navbar h1{
    padding-top: 10px;
    padding-left: 30px ;
    color: white!important;
    font-size: 30px;
    cursor: pointer;
}
.container-fluid h1::after{
    content: '' ;
    width: 0% ;
    height: 2px ;
    background:#f44336 !important;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.container-fluid h1:hover::after{
    width: 100% ;  
}
.collapse ul{
    padding-left: 150px;
}
.collapse ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
   
}
.navbar button{
    background-color: white!important;
    border: none;
    color:transparent !important;
}
.collapse ul li:hover::after{
    width: 100%;
}
.collapse li{
    align-self: left !important;
}
.nav-item{
    padding-left: 27% !important;
}
nav .fa{
    display: none;

}
@media(max-width:600px){
    .collapse ul{
        padding-left: 0px;
    }
    .navbar h1{
        font-size: 16px !important ;
        padding-left: 0%;
    } 
    .collapse ul li:hover::after{
        width: 100%;
    }
}
@media(max-width: 900px) {
    .navbar img{
        width: 30;
        padding-left: 0px;
    }
    .navbar h1{
        padding-top: 15px;
        font-size: 25px;
    } 
}
@media(max-width: 1100px ){
    .nav-item{
        padding-left: 5% !important;
    }
}
